<div class="sort-main">
    <div class="header">
        Sorting Algorithms
    </div>
    <div class="button-container">
        <button mat-raised-button>Randomize</button>
        <button mat-raised-button>Insertion Sort</button>
        <button mat-raised-button>Bubble Sort</button>
        <button mat-raised-button>Merge Sort</button>
        <button mat-raised-button>Quick Sort</button>
    </div>
    <div class="sortable-container">
        <div class="sortable">
            <div class="bar" style.height.em="{{column * 0.5 + 1}}" *ngFor = "let column of data;">{{ column }}</div>
        </div>
    </div>
</div>