.main {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .sort-container {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .node {
            height: 5em;
            width: 5em;
            border-radius: 5em;
            line-height: 5em;

            margin: 2em;
            text-align: center;

            background-color: whitesmoke;
            border: 1px solid grey;
        }
    }
}